.titulo {
   text-align: center;
   font-family: sans-serif;
   margin: 1em 0;
}

.container__hoje {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
}

.container__semanal {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 3em;
   width: 50vw;
}

.semanal {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.previsao {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin: 1em;
}